@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Titillium+Web:100,200,300,400,500,600,700');





/*---------------------------- Background-Color-----*/

.bg-color-about-reptiles {

    background-color: #1a181b;
    
}

.bg-color-contact {
    background-color: #222;
}


.bg-color-reptiles {
    background-color: #222;
    
}

.bg-color-top-ten {
    background-color: #1a181b;
}


.bg-crocodilia {
    background-color: #2a4844;

}

.bg-squamata {
    background-color: #444;

}

.bg-testudines {
    background-color: #20204aba;

}

.bg-sphenodontia {
    background-color: #25442ac9;

}

.main-container {
    background-color: #222;
}

/*---------------NAVIGATION------------*/

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #222;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FF8C00;
    
}


.navbar-inverse .navbar-toggle {
    border-color: #000;
}


.navbar-toggle {
    float: none;
}

.navbar {
    margin-bottom: 0;

}

.navbar-nav {
    margin: 0;
    background-color: #222;
}

/*-----------------------------TITLES------------*/

.species-title {
    
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #fafafa;
    font-weight: 300;
    padding: 20px;
}

.classification-list-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    padding-bottom: 15px;
    color: #fafafa;
}

.squamata-sub-title {
    color: #ec4141;
    padding-bottom: 15px;
    font-size: 15px;
}

.classification-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

.reptile-home-title {
    font-size: 83px;
    text-align:center;
    font-weight: 400;
    padding-left: 50%;
}


.title-home {
    
    font-family: "Titillium Web", sans-serif;
    text-align: left;
    color: #fafafa;
    
    
}

.title-about {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #fafafa;
    text-align: center;

}

.event-title {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 100;
    margin-top: 124%;
    background-color: #56514f85;
    
    
}

.reptiles-title2 {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 300;
    
}

.about-reptiles-title {
    padding: 30px;
    text-align: right;
}

.komodo-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 7px;
}

.komodo-dragon-title {
    
    margin-top: 30px;
    font-size: 30px;
    padding: 21px;
}

.top-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
}

.popular-reptiles-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
    margin-top: 30px;
}

.title-reptiles{
    color: #fafafa;
    font-size: 50px;
    margin-top: 0;
    font-weight: 100;
    
}

.contact-title{
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #fafafa;
    text-align: center;
    margin-top: 2%;
}

.title-popular {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    font-weight: 300;
}

.iguana-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
    
}

.about-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 45px;
    color: #fafafa;
    text-align: center;
    padding: 30px;
    font-weight: 100;
    
}


/*-----------------------------IMAGES------------*/

.logo {
    background-image: url("../images/logoo.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 50px;

}




/*-----------------------------HEADER------------*/


.fa-info-circle {
    padding-top: 40px;
   
}

.classification-head {
    font-family: "Titillium Web", sans-serif;
    font-size: 55px;
    text-align: center;
    color: #fafafa;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: transparent;
}



.list-group-item-success {
    color: #FF8C00;
    background-color: #30312f;
}


.list-group-item-info {
    color: #FF8C00;
    background-color: #3b3c3a;

}

.list-group-item-danger {
    color: #FF8C00;
    background-color: #30312f;


}


.alligator-drop {
    height: 40px;
    width: 318px;
    
}

.button, .box-toggle {
    background-color: #222;
    border: none;
}



.list-group-item-warning {
    color: #FF8C00;
    background-color: #3b3c3a;

}


.list-group-item {
    border: 1px solid #352c29;
    
}


.list-group, ul {
    list-style-type: square;
}

.contact-heading {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 100;
}
    
    .divider {
        border-color: #FF8C00;
    border-style: solid;
    height: 1px;
    width: 95%;
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 80px;
    }
    
    
    
.about {
    background-image: url("../images/about.jpg");
    height: 35vh;
    background-size: cover;
    margin-top: 50px;
}

.contact {
    background-image: url("../images/contact.jpg");
    height: 35vh;
    background-size: cover;
    margin-top: 50px;
}

.events {
    background-image: url("../images/reptiles.jpg");
    height: 94vh;
    background-size: cover;
}

.reptiles {
    background-color: #222;
    margin-top: 50px;
}


.sub-text {
    padding-bottom: 25px;
    padding-top: 40px;
    font-weight: 100;
}



.thumbnail {
    display: block;
    border: 5px solid #ffbd44;
    margin-bottom: 0;

}


.reptiles2 {
    background-image: url("../images/gila.jpg");
    height: 90vh;
}


.imageone {
    background-image: url("../images/croco-landscape.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
}

.imagetwo {
    background-image: url("../images/snake-landscape.jpg");
    height: 170px;
    width:100%;
    background-size: cover;
    
}

.imagethree {
    background-image: url("../images/turtle-land.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    
}

.imagefour {
    background-image: url("../images/tuatara2.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    
}

.jumbotter {
    font-size: 90px;
    text-align: right;
}


.country {
    color: #FF8C00;
}

.country-upcoming {
    color: #65b90c;
}


.event-description {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
}

.head-text p {
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
}


.intro-text {
  text-align: center;
  padding-top: 5px;
}


.btn-default {
    margin-top: 18px;
    background-color: #cc1010;
    border-color: #f62533;
    color: #fafafa;
    border-radius: 0%;
    margin-left: 33%;
    margin-bottom: 10px;
}

.btn-default:hover {
    background-color: #f11212;
    color: #fafafa;
    transition-duration: 0.4s;
}


.contact-info {
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 24px;
}


.value-contact {
    display: inline-block;
    position: relative;
    color: #FF8C00;
    width: 60%;
    font-size: 14px;
    vertical-align: top;
}



.top-nmr {
    background-color: #177272;
    padding: 15px;
    border-radius: 10%;
}



/*-----------------------------SOCIAL LINKS------------*/


.social-links .fbook {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .twit {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .insta {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .ytube {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links .fbook:hover {
    color: #3b5998;
    
}


.social-links .twit:hover {
    color: #38A1F3;
}

.social-links .insta:hover {
    color: #f09433;
}


.social-links .ytube:hover {
    color: #ED3833;
}


.social-links {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-top: 20px;
}


/*-----------------------------FOOTER------------*/


.footer {
    color: #fafafa;
    text-align: center;
    border-color: #080808;
    border-style: solid;
    border-width: thin;
    
}


.image-text  {
    color: #fafafa;
    text-align: center;
    font-weight: 900;
    
}

.uppercase {
    text-transform: uppercase;
}



.d-block {
    height: 200px;
}


.drop-down-header {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1px;
}


.box-collapse {
    padding: 0;
}


.reptile-info-item {
    color: #fafafa;
    padding: 5%;
    font-size: large;
    padding-left: 243px;
    margin-left: 243px;
    margin-top: 30px;
    
}

.key-contact {
    display: inline-block;
    width: 30%;
}


.key {
    color: #fafafa;
}


.reptile-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    vertical-align: top;
}

.reptile-info-item .key p {
    font-weight: 500;
}

.reptile-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
    color: #FF8C00;
}

.komodo-audio {
    padding: 10px;
    padding-left: 60px;

}

.komodo-info {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: medium;
}


.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    transition: all 0.7s ease-in-out;
}

.komodo-dragon {
    background-image: url("../images/komodo-dragon.jpg");
    height: 460px;
    width: 580px;
    background-size: cover;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
    
}

.black-mamba {
    background-image: url("../images/black-mamba.jpg");
    height: 460px;
    width: 580px;
    background-size: 117%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}


.saltwater-crocodile {
    background-image: url("../images/saltwater-crocodile.jpg");
    height: 460px;
    width: 580px;
    background-size: 117%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}

.king-cobra {
    background-image: url("../images/king-cobra.jpg");
    height: 460px;
    width: 580px;
    background-size: 124%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}


.crocodilia-pic {
    background-image: url("../images/crocodilia.jpg");
    height: 37vh;
    width: 100%;
    background-size: cover;
}


.squamata-pic {
    background-image: url("../images/squamata.jpg");
    height: 37vh;
    width: 100%;
    background-size: cover;
}


.testudines-pic {
    background-image: url("../images/testudines.jpg");
    height: 37vh;
    width: 100%;
    background-size: cover;
}


.sphenodontia-pic {
    background-image: url("../images/sphendontia.jpg");
    height: 37vh;
    width: 100%;
    background-size: cover;
}

.class-short-text {
    color: #FF8C00;
    font-size: 24px;
    font-weight: 100;
    padding: 20px;
}

.info-details {
    display:table-cell ;
}


.testdiv {
    font-family: "Titillium Web", sans-serif;
    font-size: large;
    font-weight: 400;
}

.form-control {
    background-color: #191616;
    color: #fafafa;
    border-color: #ff5b00;
    border-style: solid;
    width: 85%;
    margin-left: 9%;
}


.events-mail .form-control {
    width: 75%;
    margin-left: 13%;
    background-color: #191616;
    color: #fafafa;
    border-color: #ff5b00;
    border-style: solid;
    
}


.center-block {
    background-color: #cc1010;
    border-color: #f62533;
    border-radius: 0%;
    margin-top: 24px;
    margin-bottom: 20px;
    
}

.container {
    
    text-align: center;
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;

}

.pad-bottom {
    padding-bottom: 35px;
}

.about-reptiles {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: medium;
}

.iguana-test222 {
    
 padding-bottom: 170px;
}


.iguana-test {
    
 padding-bottom: 30px;
     
}


@media (max-width: 768px) {
    .contact {

        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
    
    .value-contact {
        width: 62%;
    }
}



@media (max-width: 768px) {
    
    .logo {
    height: 35vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}

}

@media (max-width: 991px) {
    
    .logo {
    
    
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

}


.navbar-brand {
    padding:0;
    padding-left: 4px;
}


@media (min-width: 768px) {
    .iguana-test {
        max-width: 575px;
        height: 325px;
        margin-bottom: 80px;
        margin-left: 10%;
    
    }
}

@media (min-width: 991px) {
    .iguana-test {
        max-width: 495px;
        min-height: 325px;
        margin-left: 25%;
        
    }
}


@media (max-width: 767px) {

.reptile-home-title {
    padding-left: 33%;
    width: 0;
    font-size: 34px;
    font-weight: 100;
    margin-top: 0;
}

}

/*-------TABLET-------*/



@media (min-width: 768px) {

.reptile-home-title {
    padding-left: 33%;
    width: 0;
    font-size: 55px;
    font-weight: 100;
    margin-top: 0;
}

.navbar-brand {
    padding: 0;
}
 
.about-reptiles {
    
    font-size: 22px;
    text-align: center;
} 
    
.btn-default {
    margin-left: 45%;
}


.imageone, .imagetwo, .imagethree, .imagefour {
    height: 30vh;
}

.key-contact {
    width: 34%;
}

.reptile-info-item2 {
    padding: 0;
    padding-left: 0;
    margin-left: 118px;
}


.events-mail .form-control {
    width: 50%;
    margin-left: 25%;
}

.iguana-test {
    max-width: 490px;
    margin-left: 16%;
}

.reptile-info-item {
    margin-left: 0;
}

    
}


@media (max-width: 767px) {

.reptile-info-item, .komodo-info {
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

}



/*----------DESKTOP------------*/

@media (min-width: 1024px) {


.komodo-video {
    height: 411px;
    width: 730px;
    margin-left: 27%;
}

.reptile-home-title, .contact-title {
    font-size: 96px;
}

.about-reptiles {
    padding-top: 30px;
}

.about {
    height: 99vh;
}

.popular-images {
    width: 85%;
    height: 54vh;
}


.title-popular {
    padding-top: 35%;
}

.imageone {

    background-image: url("../images/1.jpg");
    height: 82vh;
    width: 25%;
    background-size: cover;

}

.imagetwo {
    background-image: url("../images/2.jpg");
    height: 82vh;
    width: 25%;
    background-size: cover;
}

.imagethree {
    background-image: url("../images/3.jpg");
    height: 82vh;
    width: 25%;
    background-size: cover;
}

.imagefour {
    background-image: url("../images/4.jpg");
    height: 82vh;
    width: 25%;
    background-size: cover;
}

.crocodilia-pic, .squamata-pic, .testudines-pic, .sphenodontia-pic {
    height: 99vh;
}

.drop-down-header {
    margin-left: 42%;
}

.collapse.in, .box-collapse {
    margin-left: 42%;
    width: 330px;
}

.event-title {
    font-size: 46px;
    margin-top: 44%;
}

.container {
    width:100%;
}

.contact {
    height: 70vh;
}

.key-contact {
    width: 18%;
}

.value-contact {
    
    width: 74%;
    font-size: 20px;
}

.reptile-info-item2 {
    width: 30%;
    margin-left: 38%;
    font-size: 20px;
    padding: 14px;
    padding-bottom: 20px;
}

.form-control {
    width: 56%;
    margin-left: 23%;
}

.iguana-test222 {
    margin-left: 107px;
}

.komodo-title {
    margin-right: 112px;
}


.iguana-test {
    margin-left: 25%;
}

.reptile-info-item {
    margin-left: 27%;
}

}



@media (min-width: 1200px) {
    .komodo-info {

        padding-left: 400px;
        padding-right: 400px;
        padding-bottom: 40px;
        
    }
    
    .audio-block {
        margin-left: 4%;
        padding-top: 5%;
        padding-bottom: 40px;
    }

    .reptile-info-item .key {
        width: 18%;
    }
    
}


@media (min-width: 768px) and (max-width: 1023px) {

.komodo-info {
    font-size: 22px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.iguana-test222 {
    padding-left: 20px;
}
.title-reptiles {
    margin-top: 15px;
}

.alligator-drop {
    width: 525px;
}

.drop-down-header {
    margin-left: 14%;
}

.list-group-item {
    width: 537px;
    margin-left: 14%;
}

.list-group, ul {
    margin-left: 30%;
}

.event-title {
    font-size: 60px;
    margin-top: 106%;
}

.container {
    width: 100%;
}

}


@media (min-width: 768px) and (max-width: 1024px){

.reptile-info-item, .komodo-info {
    margin-top: 0;
    padding-bottom: 30px;
}

}


@media (min-width: 768px) {

.iguana-test222 {
    padding-left: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.komodo-title {
    padding-right: 0;
}

}

.spacediv {
    height: 1px;
}


                        /*-----------------------------------------*/



@media (max-width: 767px) {

.komodo-dragon, .black-mamba, .saltwater-crocodile, .king-cobra {
    max-height: 210px;
    max-width: 310px;
    background-size: cover;
    border-radius: 50%;
    border-style: inset;
    border-width: 5px;
    margin-top: 80px;
}

}

@media (max-width: 767px) {

.komodo-video {
 
 max-height: 172px;
 max-width: 305px ;
}

.iguana-test222 {
    padding-bottom: 55px;
    margin-left: 15px;
}

}

.contact-readmore {
    margin-bottom: 40px;
}


@media (max-width: 767px) {
    
.popular-images {
    width: 100%;
    float: none;
}    
    
}


@media (min-width: 768px) and (max-width: 1023px){
    
.popular-images {
    width: 65%;
    float: none;
}    

}

.popular-images {
    border-radius: 6%;
    border-color: #FF8C00;
    border-width: 2px;
    border-style: inset;
    
}

.navbar-collapse {
    padding: 0;
}