@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Titillium+Web:100,200,300,400,500,600,700');





/*---------------------------- Background-Color-----*/

.bg-color-about-reptiles {

 
    background-color: #1a181b;
    
}


.bg-color-reptiles {
    background-color: #222;
}


.bg-color-top-ten {
    background-color: #1a181b;
}





/*-----------------------------HEADER------------*/


.jumbotron {
    background-color: transparent;
}


.navbar {
    margin-bottom: 0;

}

.navbar .nav {
    float: right;
    
}


.logo {
    background-image: url("../images/logoo.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}
    
.about {
    background-image: url("../images/about.jpg");
    height: 100vh;
}

.contact {
    background-image: url("../images/contact.jpg");
    height: 100vh;
    background-size: cover;
}

.events {
    background-image: url("../images/reptiles.jpg");
    height: 100vh;
    background-size: cover;
}

.reptiles {
    background-color: #222;

}







.reptiles2 {
    background-image: url("../images/gila.jpg");
    height: 90vh;
}




.imageone {
    background-image: url("../images/photo-1486869791806-60f348c35402.jpg");
    height: 100vh;
    background-size: cover;
    
}


.imagetwo {
    background-image: url("../images/snake-reptile-black-snake.jpg");
    height: 100vh;
    background-size: cover;
    
}

.imagethree {
    background-image: url("../images/Beautiful_Turtle_HD_Wallpaper.jpg");
    height: 100vh;
    background-size: cover;
    
}

.imagefour {
    background-image: url("../images/tautar.jpg");
    height: 100vh;
    background-size: cover;
    
}

.jumbotter {
    font-size: 90px;
    text-align: right;
}


.reptile-home-title {
    font-size: 77px;
    text-align:right;
    font-weight: 400;
}


.title-home {
    
    font-family: "Titillium Web", sans-serif;
    text-align: left;
    color: #fafafa;
    
    
}


.title-about {
    font-family: "Titillium Web", sans-serif;
    font-size: 45px;
    color: #fafafa;
    text-align: center;
    
}





.reptiles-title {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 300;
    padding-top: 360px;
    
}

.reptiles-title2 {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 300;
    
}

.event-description {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
}





.head-text p {
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
}


.intro-text {
  text-align: center;
  padding-top: 5px;
}


.about-reptiles-title {
    padding: 30px;
    text-align: right;
}



.btn-default {
    margin-top: 40px;
    background-color: #cc1010;
    border-color: #f62533;
    color: #fafafa;
    border-radius: 0%;
    margin-left: 45%;
}

.btn-default:hover {
    background-color: #f11212;
    color: #fafafa;
    transition-duration: 0.4s;
}






.top-nmr {
    background-color: #177272;
    padding: 15px;
    border-radius: 10%;
}



/*-----------------------------SOCIAL LINKS------------*/


.social-links .fbook {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .twit {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .insta {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .ytube {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links .fbook:hover {
    color: #3b5998;
    
}


.social-links .twit:hover {
    color: #38A1F3;
}

.social-links .insta:hover {
    color: #f09433;
}


.social-links .ytube:hover {
    color: #ED3833;
}


.social-links {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-top: 20px;
}


/*-----------------------------FOOTER------------*/


.footer {
    color: #fafafa;
    text-align: center;
    border-color: #080808;
    border-style: solid;
    border-width: thin;
    
}


.image-text  {
    color: #fafafa;
    text-align: center;
    font-weight: 900;
    
    
}

.main-container {
    background-color: #222;
}

.class-text {
    font-size: 300;
    font-weight: 100;
}



.uppercase {
    text-transform: uppercase;
}





.reptile-info-item {
    color: #fafafa;
    padding: 5%;
    font-size: large;
    padding-left: 243px;
    margin-left: 243px;
    margin-top: 30px;
    
}



.key {
    color: #FF8C00;
}


.reptile-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    vertical-align: top;
}

.reptile-info-item .key p {
    font-weight: 500;
}

.reptile-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}




.komodo-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 7px;
    padding-right: 197px;
}

.komodo-audio {
    padding: 10px;
    padding-left: 60px;

}



.komodo-dragon-title {
    
    margin-top: 30px;
    font-size: 30px;
    padding: 30px;
}

.komodo-info {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: large;
    margin-left: 500px;
    margin-right: 500px;
}




.komodo-dragon {
    background-image: url("../images/komodo-dragon.jpg");
    height: 460px;
    width: 580px;
    background-size: cover;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    
}




.top-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
}

.popular-reptiles-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
    margin-bottom: 170px;
}





.col-md-12, .toptest {
    padding: 40px;
}

.title-reptiles{
    color: #fafafa;
    font-size: 77px;
    padding: 20px;
    
}

.class-short-text {
    color: #ef3824;
    font-size: 24px;
    font-weight: 100;
    padding: 20px;
}


.testdiv {
    font-family: "Titillium Web", sans-serif;
    font-size: large;
    font-weight: 400;
}


.container {
    
    text-align: center;
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;
    font-size: large;

}



.title-contact {
    font-family: "Titillium Web", sans-serif;
     color: #fafafa;
    font-size: 77px;
    padding: 20px;
}


.title-popular {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

.pad-bottom {
    padding-bottom: 50px;
}

.about-reptiles {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


.iguana-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 10px;
    
}

.about-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 45px;
    color: #fafafa;
    text-align: center;
    padding: 50px;
    
}



.iguana-test {
    padding-bottom: 40px;
}



.video {
    margin-left: 15%;
}

.popular-images {
    width: 250px;
    height: 150px;
    padding: 5px;
    float: left;
    border-radius: 6%;
    
}