@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Titillium+Web:100,200,300,400,500,600,700');





/*---------------------------- Background-Color-----*/

.bg-color-about-reptiles {

 
    background-color: #1a181b;
    
}

.bg-color-contact {
    background-color: #222;
}


.bg-color-reptiles {
    background-color: #222;
    
}


.bg-color-top-ten {
    background-color: #1a181b;
}





/*-----------------------------HEADER------------*/



.fa-info-circle {
    padding-top: 40px;
   
}



.jumbotron {
    background-color: transparent;
}


.navbar {
    margin-bottom: 0;

}

.contact-heading {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 100;
}



.navbar-nav {
    margin: 0;
}


.navbar .nav {
    float: right;
    
}


.logo {
    background-image: url("../images/logoo.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}
    
    .divider {
        border-color: #FF8C00;
    border-style: solid;
    border-width: thin;
    height: 1px;
    width: 95%;
    background-color: transparent;
    margin-top: 150px;
    margin-bottom: 120px;
    }
    
    
    
.about {
    background-image: url("../images/about.jpg");
    height: 35vh;
    background-size: cover;
}

.contact {
    background-image: url("../images/contact.jpg");
    height: 35vh;
    background-size: cover;
}

.events {
    background-image: url("../images/reptiles.jpg");
    height: 94vh;
    background-size: cover;
}

.reptiles {
    background-color: #222;

}


.sub-text {
    padding-bottom: 25px;
    padding-top: 40px;
    font-weight: 100;
}




.reptiles2 {
    background-image: url("../images/gila.jpg");
    height: 90vh;
}



.classification-title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}




.imageone {
    background-image: url("../images/croco-landscape.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
}

.imagetwo {
    background-image: url("../images/snake-landscape.jpg");
    height: 170px;
    width:100%;
    background-size: cover;
    
}

.imagethree {
    background-image: url("../images/turtle-land.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    
}

.imagefour {
    background-image: url("../images/tuatara2.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    
}

.jumbotter {
    font-size: 90px;
    text-align: right;
}


.reptile-home-title {
    font-size: 83px;
    text-align:center;
    font-weight: 400;
    padding-left: 50%;
}





.title-home {
    
    font-family: "Titillium Web", sans-serif;
    text-align: left;
    color: #fafafa;
    
    
}


.title-about {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #fafafa;
    text-align: center;

    
}



.country {
    color: #FF8C00;
}

.country-upcoming {
    color: #65b90c;
}



.event-title {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 100;
    padding-top: 380px;
    
}

.reptiles-title2 {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 40px;
    font-weight: 300;
    
}

.event-description {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
}








.head-text p {
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
}


.intro-text {
  text-align: center;
  padding-top: 5px;
}


.about-reptiles-title {
    padding: 30px;
    text-align: right;
}



.btn-default {
    margin-top: 18px;
    background-color: #cc1010;
    border-color: #f62533;
    color: #fafafa;
    border-radius: 0%;
    margin-left: 33%;
    margin-bottom: 10px;
}

.btn-default:hover {
    background-color: #f11212;
    color: #fafafa;
    transition-duration: 0.4s;
}


.contact-info {
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 24px;
}


.value-contact {
    display: inline-block;
    position: relative;
    color: #FF8C00;
    width: 60%;
    font-size: 14px;
    vertical-align: top;
}



.top-nmr {
    background-color: #177272;
    padding: 15px;
    border-radius: 10%;
}



/*-----------------------------SOCIAL LINKS------------*/


.social-links .fbook {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .twit {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .insta {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links .ytube {
    font-size: 25px;
    padding: 4px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links .fbook:hover {
    color: #3b5998;
    
}


.social-links .twit:hover {
    color: #38A1F3;
}

.social-links .insta:hover {
    color: #f09433;
}


.social-links .ytube:hover {
    color: #ED3833;
}


.social-links {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-top: 20px;
}


/*-----------------------------FOOTER------------*/


.footer {
    color: #fafafa;
    text-align: center;
    border-color: #080808;
    border-style: solid;
    border-width: thin;
    
}


.image-text  {
    color: #fafafa;
    text-align: center;
    font-weight: 900;
    
    
}

.main-container {
    background-color: #222;
}

.class-text {
    font-size: 300;
    font-weight: 100;
}



.uppercase {
    text-transform: uppercase;
}



.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FF8C00;
}


.navbar-inverse .navbar-toggle {
    border-color: #000;
}




.reptile-info-item {
    color: #fafafa;
    padding: 5%;
    font-size: large;
    padding-left: 243px;
    margin-left: 243px;
    margin-top: 30px;
    
}

.key-contact {
    display: inline-block;
    width: 30%;
}


.key {
    color: #fafafa;
}


.reptile-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    vertical-align: top;
}

.reptile-info-item .key p {
    font-weight: 500;
}

.reptile-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
    color: #FF8C00;
}




.komodo-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 7px;
    padding-right: 197px;
}

.komodo-audio {
    padding: 10px;
    padding-left: 60px;

}



.komodo-dragon-title {
    
    margin-top: 30px;
    font-size: 30px;
    padding: 21px;
}

.komodo-info {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: medium;
}





.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    transition: all 0.7s ease-in-out;
}






.komodo-dragon {
    background-image: url("../images/komodo-dragon.jpg");
    height: 460px;
    width: 580px;
    background-size: cover;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    
}

.black-mamba {
    background-image: url("../images/black-mamba.jpg");
    height: 460px;
    width: 580px;
    background-size: 117%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}


.saltwater-crocodile {
    background-image: url("../images/saltwater-crocodile.jpg");
    height: 460px;
    width: 580px;
    background-size: 117%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}

.king-cobra {
    background-image: url("../images/king-cobra.jpg");
    height: 460px;
    width: 580px;
    background-size: 124%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-style: inset;
    border-width: 15px;
    margin-top: 50px;
}





.top-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
}

.popular-reptiles-title {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    text-align: center;
    margin-top: 30px;
}




.title-reptiles{
    color: #fafafa;
    font-size: 77px;
    padding: 20px;
    
}

.class-short-text {
    color: #FF8C00;
    font-size: 24px;
    font-weight: 100;
    padding: 20px;
}

.info-details {
    display:table-cell ;
}


.testdiv {
    font-family: "Titillium Web", sans-serif;
    font-size: large;
    font-weight: 400;
}



.contact-title{
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #fafafa;
    text-align: center;
    margin-top: 2%;
}


.form-control {
    background-color: #191616;
    color: #fafafa;
    border-color: #ff5b00;
    border-style: solid;
}


.events-mail .form-control {
    width: 75%;
    margin-left: 13%;
    background-color: #191616;
    color: #fafafa;
    border-color: #ff5b00;
    border-style: solid;
    
}



.center-block {
    background-color: #cc1010;
    border-color: #f62533;
    border-radius: 0%;
    margin-top: 24px;
    margin-bottom: 20px;
    
}

.container {
    
    text-align: center;
    color: #fafafa;
    font-family: "Titillium Web", sans-serif;

}




.title-popular {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    font-weight: 300;
}

.pad-bottom {
    padding-bottom: 35px;
}

.about-reptiles {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
    font-size: medium;
}


.iguana-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
    
}

.about-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 45px;
    color: #fafafa;
    text-align: center;
    padding: 30px;
    font-weight: 100;
    
}




.iguana-test222 {
    
 padding-bottom: 40px;
}



.iguana-test {
    
 padding-bottom: 30px;
     
}



@media (max-width: 768px) {
    .contact {

        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
}










@media (max-width: 768px) {
    
    .logo {
    height: 35vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}

}

@media (max-width: 991px) {
    
    .logo {
    
    
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}

}



@media (min-width: 768px) {
    .iguana-test {
        max-width: 575px;
        height: 325px;
        margin-bottom: 80px;
        margin-left: 10%;
    
    }
}

@media (min-width: 991px) {
    .iguana-test {
        max-width: 575px;
        min-height: 325px;
        margin-left: 25%;
        
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .iguana-test {
        max-width: 575px;
        max-height: 325px;
        margin-bottom: 40px;
    
        
    }
    
}


@media (max-width: 767px) {

.reptile-home-title {
    padding-left: 33%;
    width: 0;
    font-size: 34px;
    font-weight: 100;
    margin-top: 0;
}

}



@media (max-width: 767px) {

.title-reptiles {
    padding-left: 0;
    width: 0;
    font-size: 57px;
    display: table-header-group;
    font-weight: 100;
    
}

}



@media (max-width: 767px) {

.reptile-info-item, .komodo-info {
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

}





@media (min-width: 1024px) and (max-width: 1200px) {

.reptile-info-item {
    padding-left: 15px;
    padding-top: 75px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.komodo-video {
    height: 300px;
    width: 497px;
}

}

@media (min-width: 1200px) {
    .komodo-info {

        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 40px;
        

    }
    .reptile-info-item {
    padding-left: 0;
    }
}






@media (min-width: 768px) and (max-width: 1023px) {

.komodo-info {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.reptile-info-item {
    padding-left: 200px;
}

.iguana-test222 {
    padding-left: 20px;
}

.komodo-title {
    padding-left: 200px;
}

}


@media (min-width: 768px) and (max-width: 1024px){

.reptile-info-item, .komodo-info {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 30px;
}

}


@media (min-width: 768px) and (max-width: 1024x){

.iguana-test222 {
    padding-left: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.komodo-title {
    padding-right: 0;
}

}















@media (min-width: 768px) {
.navbar {
     border-radius: 0;

}
}



                        /*-----------------------------------------*/



@media (max-width: 767px) {

.komodo-dragon, .black-mamba, .saltwater-crocodile, .king-cobra {
    max-height: 210px;
    max-width: 310px;
    background-size: cover;
    border-radius: 50%;
    border-style: inset;
    border-width: 5px;
    
}

}



@media (max-width: 767px) {

.komodo-video {
 
 max-height: 220px;
 max-width: 335px ;
}

}


@media (max-width: 767px) {

.divider {
 
margin-bottom: 0;
margin-top: 0;
}

}



.contact-readmore {
    margin-bottom: 40px;
}



.popular-images {
    width: 100%;
    float: left;
    border-radius: 6%;
    border-color: #FF8C00;
    border-width: 2px;
    border-style: inset;
    
}



.navbar-collapse {
    padding: 0;
}
